*{
    padding: 0;
    margin: 0;
}
div{
    background-image: url(https://images.unsplash.com/photo-1587280501635-a19de238a81e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    height: 200px;
    color:white;
    width: 300px;
    position: fixed;
    right:0;
    top:0;
    text-align: center;
}