*{
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;

}

h3{
    text-align: center;
}
fieldset{
    text-align: center;
}
#submit1, #submit2{
    border:1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
#usern, #pass, #mail,#dob{
    border: 2px solid black ;
    border-radius: 10px;
}
