/* CSS SELECTOR */

/* 1. Element Selector */

/* SARE P TAG STYLE HO JAYENGE */

/* p{
    color: red;
    font-size: 20px;
} */


/* 2. Id Selector */
/* 
#p3{
    color:blue;
    font-size: 20px;
}

#h{
    font-size: 50px;
} */

/* 3. Class Selector  */

/* .green-text {
    color:green;
    font-size: 20px;
}

.underline-h{
    text-decoration: underline;
} */

/* PRIORITY IS GIVEN TO ID THEN CLASS AND THEN ELEMENT, ORDER MATTER ONLY IF SAME SELECTOR IS USED AGAIN AND AGAIN*/





/* BACKGROUND */






/* #bg{ */
    /* BACKGROUND COLOR */
    /* background-color: green; */
    
    /* BACKGROUND IMAGE */
    /* background-image: url('Images/Background3.jpg'), url('Images/background2.png'); */
    /* background-position: left top, right bottom; */

    /* BACKGROUND REPEATATION */
    /* background-repeat: no-repeat; */

    /* BACKGROUND POSITION */
     /* background-position: center center; */
    /* background-position: right bottom: ; */
    /* background-position: 1000px 200px; */
    /* background-position: 10% 20%; */

    /* BACKGROUND SIZE */
    /* background-size: cover; */
    /* background-size: 100% 100%; */
    /* background-size: contain; */
    /* background-size: 50px 100px; */

    /* BACKGROUND FIX */
    /* background-attachment: fixed; */


/* } */




/* BORDER */



#border{
    /* BORDER STYLE */
    border-style: none;
    border-style: dotted; 
    border-style:dashed;
    border-style:groove; /* For frame type */
    border-style: double;
    border-style: outset;
    border-style: inset;
    border-style: ridge;
    border-style:solid;
    /* WE CAN GIVE DIFFERENT BORDER TYPE AT TOP BOTTON LEFT RIGHT */
    border-style: solid dotted dashed none; /* TOP RIGHT BOTTOM LEFT (CLOCKWISE ORDER)*/
    border-style: solid dashed; /* TOP AND BOTTOM, RIGHT AND LEFT*/

    /* BORDER WIDTH */
    border-width: 5px 3px;  /* WE CAN GIVE DIFFERENT BORDER WIDTH AT TOP BOTTON LEFT RIGHT SAME AS WE HAVE DONE IN BORDER STYLE */

    /* BORDER COLOUR */
    border-color: red yellow;   /* WE CAN GIVE DIFFERENT BORDER COLOUR AT TOP BOTTON LEFT RIGHT SAME AS WE HAVE DONE IN BORDER STYLE */

    /* WE CAN ONLY STYLE A SPECIFIC BORDER */
    border-top-color: green;

    /* WE CAN REMOVE EDGES OF BORDER AND MAKE IT CURVE */
    border-radius: 10px; /* WE CAN GIVE DIFFERENT BORDER RADIUS AT TOP BOTTON LEFT RIGHT SAME AS WE HAVE DONE IN BORDER STYLE */
    border-radius: 50%;
    border-top-left-radius: 5px; /**BAAKI SB K LIYE BHI ALG ALG KR SKTE HAI */
}



/* HEIGHT AND WIDTH  */

/* body{
    border-style: solid;
    border-width: 1px;
    height: 1000px;
    width: 1000px;
} */

/* #div1{ */
    /* background-color: blueviolet; */
    /* height: 50%; YOU CAN GIVE IT IN PERCENTAGE AS WELL. AS DIV IS IN BODY. SO IT'S PERCENTAGE WOULD BE IN REFERENCE WITH BODY */
    /* width: 70%; */
    /* max-width: 500px; WIDTH IS 70% BUT DON'T GO BEHIND 500PX. IF 70% IS LESS THAN 500PX GO FOR IT ELSE GO FOR 500 PX */
    /* max-height: 1000px; SAME FOR HEIGHT */
    /* min-width: 1000px; SAME CONCEPT FOR MIN WIDTH AND HEIGHT */
    /* min-height: 4000px; */
/* } */


/* PADDING */
.divv{

    /* DISTANCE BETWEEN BORDER AND ITS CONTENT  */
    border: 1px solid red;

    padding-left: 10px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 40px;

    /* CAN DO SAME AS WE DO IN BORDER  */
    padding:5px 10px 15px 20px; /* TOP RIGHT BOTTOM LEFT*/
}

/* MARGIN  */
body{
    border:5px dotted black;
}
#div2{
    width:500px;    
    margin-top:90px;
    margin-bottom:35px;
    margin-left: 40px;
    margin-right: 60px;

    margin:-20px 60px 70px 80px; /*TOP RIGHT BOTTOM LEFT*/
    
    /* WE CAN ALSO GIVE MARGIN AS AUTO TO ALLIGN IT IN CENTER  */
    margin:auto;
    margin-top: 100px;
}
#div1{
    margin-bottom: 90px; /*NEECHE WALE SE 90PX LIYA OR UPR WALE SE 100PX LIYA TOH MAX 100 PX KA GAP HUA NAKI 190 PX KA. THIS IS CALLED MARGIN COLLAPSE. THIS ONLY HAPPENS IN TOP AND BOTTON NOT IN LEFT TO RIGHT*/
}

