/* FUNCTION  */
/* FUNCTIONS : WE HAD USED SEVERAL FUNCTIONS LIKE rgb(), rgba(), url(), ()-> THIS IS SIGN THAT U ARE USING FUNCTION  */



/* CREATING A VARIABLE FUNCTION  */
:root{
    --backgroundclr: green;
    --fontcolor: blue;
}

#functions{
    height: 300px;
    background-color: aqua;
    width: 70%; /*ONLY 30% WIDTH AVILABLE FOR OTHER PURPOSE IF WE RESIZE THE BROWSER  */
    width: calc(100% - 250px); /*ALWAUS 250px WILL BE AVAILABLE IF WE RESIZE THE BROWSER (USING CALC FUNCTION) */
}

/* a{
    text-decoration: none;
    margin:30px;
    padding: 15px;
    background-color: red;
    color:black;
    color:var(--fontcolor);
    background-color: var(--backgroundclr); WE HAD TO CHANGE IN ROOT AND THEN IT WILL TAKE PLACE EVERYWHERE 
} */



/* BOX SIZING */


#div1{
    background-color: red;
    height: 150px;
    width: 300px;
}

#div2{
    background-color: blue;
    height: 150px;
    width: 300px;
    padding: 50px;
    border:5px solid black;
    box-sizing: content-box; /* HEIGHT AND WIDTH WE HAVE GIVEN IS GONE TO CONTENT AND PADDING AND BORDER WILL TAKE EXTRA SPACE*/
    box-sizing: border-box; /* HEIGHT AND WIDTH IS GIVEN TO BOX, CONTENT WILL BE COMPROMISED */
}

/* inherit vs initial  */
#green{
    color: green;
}
#blue{
    color:red; 
}
#inherit{
    color:inherit; /*INHERIT MEANS JO PARENT KA HAI*/
}
#initial{
    color:initial; /*JO CSS NE DEFAULT M DIYA HAI, MOSTLY AGR USE KRENGE TOH INHERIT KRENGE*/
}

/* OBJECT FIT  */
img{
    border:1px solid red;
    height: 300px;
    width: 500px;
    object-fit: contain; /* DOESN'T CHANGE THE ASPECT RATIO BUT LEAVES EMPTY SPACE */
    object-fit: cover; /*DOESN'T LEAVE EMPTY SPACE BUT CUTS IMAGE */
    object-position: bottom left; /*KONSA PART DEKHNA HAI */
}


/* PSEDU CLASS  */

/* KISI BHI ELEMENT KA KOI SPECIAL STATE KO PSEDU CLASS BOLTE HAI LIKE ANKLE TAG KA HOVER LINK VISIT AND ACTIVE HAI  */

/* FORMAT  
SELECTOR:PSEDUSTATE{
CSS
}
 */

 li:first-child{  /*1st child or last child */
    color:blue;
 }
 li:nth-child(even){ /*Nth CHILD OR WE CAN GIVE ODD AND EVEN AS WELL*/
    color:red;
 }
 li:nth-child(3n+1){
    color:yellow;  /* VALUE WILL BE 4,7 ETC...*/
 }

 input:focus{
    border:3px dashed red;  /*FOCUS MEANS WHEN WE GIVE I/P TO BOX */
 }




 /* PSEDU ELEMENT  */
  /* FORMAT
  SELCTOR::PSEDU-ELEMENT{
  CSS
 }
*/



p::first-letter{
    color:red;
    font-size: 40px; /*EDITING 1ST LETTER*/
}
p::first-line{
    color:blue; /*EDITING 1ST LINE */
}
p::before{  /* CAN DO SAME WITJH ANYTHING AND WE CAN ADD IMAGES AS WELL AND WE CAN USE AFTER PSEDU ELMENT ALSO */
    content:"Hello World ";
}
h1:after{
    content:url('Images/favicon-96x96.png');
}

::selection{
    color:red;
    background-color: black;  /*NOTHING IS MENTIONED BEFORE DOUBLE SEMI COLON THAT MEANS IT IS UNIVERSAL AND SELECTION MEANS WHEN WE SELECT ANYTHING */
}






/* DISPLAY  */





/* BLOCK - DIV, FORM, H1-H6  */

/* 1. NEW LINE 
2. FULL WIDTH 
3. CAN GIVE HEIGHT AND WIDTH */


/* INLINE - SPAN , IMG , ANKLE TAG  */

/* 1. NO NEW LINE 
2. ONLY USES WIDTH WHICH IS REQUIRED 
3. CAN'T GIVE HEIGHT AND WIDTH  */



/* INLINE-BLOCK -> COMBINATION  */

/* 1. NO NEW LINE 
2. ONLY USES WIDTH REQUIRED 
3. CAN GIVE HEIGHT AND WIDTH  */

.display{
    border:1px solid red;
    width:200px;
    height: 25px;
    display: inline; /* AFTER DOING THIS, IT BECOMES INLINE i.e DOESN'T START FROM NEW LINE, DIDN'T TAKE HEIGHT AND WIDTH, USES REQUIRED WIDTH */
    display: inline-block;
}