div{
    background-color: aquamarine;
    border: 2px solid black;
    height: 100px;
    width: 200px;
    /* transition: all;
    transition-duration: 500ms;
    transition-timing-function: steps(5);
    transition-delay: 1s; */
    position: absolute;
    top:200px;
    left:100px;
    transition: all 2s ease-in-out 500ms ;
}
div:hover{
    transform: rotate(180deg);
    transform:rotate(45);
    background-color: red;
    color: white;
    font-size: 20px;
}
div:active{
    background-color: pink;
}