*{
    padding: 0;
    margin: 0;
    color: white;
}
#nav{
    height: 60px;
    background-color: #0f1111;
}
#title{
    width: 100px;
    margin-right: 200px;
    font-size: 25px;
    color: #f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
form{
    display: inline;
}
input{
    padding: 0px 5px;
    color: black;
}
button{
    background-color:#f08804;
    color: black;
    padding: 0px 5px;
}

.content{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    color: black;
}
#a{
    background-color: rgba(255, 0, 0, .5);
}
#b{
    background-color: rgba(0, 255, 0, .5);
}
#c{
    background-color: rgba(0, 0, 255, .5);
}
main{
    height: 600px;
    border: 2px solid black;
}
footer{
    background-color: #0f1111;
    color: white;
    height: 60px;
    text-align: center;
}